audio-program-generator==1.6.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
docopt==0.6.2
ffprobe==0.5
gTTS==2.2.2
idna==2.10
pydub==0.25.1
requests==2.25.1
six==1.16.0
tqdm==4.61.0
urllib3==1.26.5
